# ===============================
# OS / IDE
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Java / Backend
# ===============================
target/
!backend/**/target/*.jar
*.class
*.log

# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/
build/
.next/
.angular/

# frontend specific
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.next/
frontend/.angular/

# ===============================
# Env files
# ===============================
.env
.env.*
