version: "3.8"

services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongo-data:/data/db
    networks:
      - backend-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - backend-net

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    networks:
      - backend-net

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - backend-net

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - config-server
    networks:
      - backend-net

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8765:8765"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - eureka-server
    networks:
      - backend-net

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - mongodb
      - eureka-server
    networks:
      - backend-net

  ticket-service:
    build: ./ticket-service
    container_name: ticket-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - kafka
      - mongodb
      - eureka-server
    networks:
      - backend-net

  assignment-service:
    build: ./assignment-service
    container_name: assignment-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - mongodb
      - eureka-server
    networks:
      - backend-net

  notification-service:
    build: ./notification-service
    container_name: notification-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - kafka
      - mongodb
      - eureka-server
    networks:
      - backend-net

networks:
  backend-net:

volumes:
  mongo-data:
