<div class="container-fluid px-4 create-ticket">

  <div class="card shadow-sm mx-auto create-card">
    <div class="card-body">

      <h4 class="fw-bold mb-3">Create Ticket</h4>
      <p class="text-muted mb-4">
        Describe your issue and submit a ticket
      </p>

      <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="mb-3">
          <label class="form-label">Title</label>
          <input
            class="form-control"
            formControlName="title"
            placeholder="Brief summary"
          />
          <small class="text-danger"
            *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
            Minimum 5 characters required
          </small>
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea
            rows="4"
            class="form-control"
            formControlName="description"
            placeholder="Explain the issue in detail"
          ></textarea>
          <small class="text-danger"
            *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
            Minimum 10 characters required
          </small>
        </div>

       <div class="mb-3">
  <label class="form-label">Category</label>

  <select class="form-select" formControlName="category">
    <option value="" disabled>Select category</option>
    <option *ngFor="let c of categories" [value]="c">
      {{ c }}
    </option>
  </select>

  <small
    class="text-danger"
    *ngIf="form.get('category')?.touched && form.get('category')?.invalid">
    Category is required
  </small>
</div>
<div class="mb-3">
  <label class="form-label">Priority</label>

  <select class="form-select" formControlName="priority">
    <option value="" disabled>Select priority</option>
    <option *ngFor="let p of priorities" [value]="p">
      {{ p }}
    </option>
  </select>

  <small
    class="text-danger"
    *ngIf="form.get('priority')?.touched && form.get('priority')?.invalid">
    Priority is required
  </small>
</div>


        <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div>

        <button
          class="btn btn-primary w-100"
          type="submit"
          [disabled]="loading || form.invalid"
        >
          <span *ngIf="!loading">Create Ticket</span>
          <span *ngIf="loading">Submitting...</span>
        </button>

      </form>

    </div>
  </div>

</div>
